<!--<div style="float: left; width: 100%;">-->
<!--<p>Active Ports</p>-->
<!--<span>-->
<%#= @active_ports.blank? ? 0 : @active_ports %>
<!--</span>-->
<!--</div>-->

<!--<div style="float: left; width: 100%;">-->
<!--<p class="p-style">Enabled Ports</p><span> <%#= current_user.ports_order unless current_user.blank? %> </span>-->
<!--</div>-->
<div id="gauge_div" style="float: left; margin-left: 45px;">

</div>

<script type='text/javascript'>
    $(document).ready(function () {
        drawChart();
    });
    function drawChart() {
        var active_ports = '<%=@active_ports%>';
        var max_ports = <%= current_subscriber_user.ports_order unless current_subscriber_user.blank? %>;
        var min_val = (max_ports / 100) * 80;
        var max_val = (max_ports / 100) * 90;
        if (active_ports == "") {
            active_ports = 0;
        }
        var data = google.visualization.arrayToDataTable([
            ['Label', 'Value'],
            ['Active Ports', parseInt(active_ports)]
        ]);

        var options = {
            width:600, height:130,
            min:0,
            yellowFrom:min_val, yellowTo:max_val,
            redFrom:max_val, redTo:max_ports,
            max:max_ports
        };

        var chart = new google.visualization.Gauge(document.getElementById('gauge_div'));
        chart.draw(data, options);
    }
</script>



