<artical id="basic-tab">
  <% if params[:controller] == "dashboard" and params[:action] == "index" %>
      <div class="tabs">
        <%= link_to "Dashboard", "/dashboard" %>
      </div>
  <% elsif params[:controller] == "mycarriers" and params[:action] == "new" %>
      <div class="tabs">
        <%= link_to "Carrier", "/mycarriers/show" %>
      </div>
      <div class="tabs-3">
        <%= link_to "New Carriers", "/mycarriers/new" %>
      </div>
  <% elsif params[:controller] == "mycarriers" and params[:action] == "edit" %>
      <div class="tabs">
        <%= link_to "Carrier", "/mycarriers/show" %>
      </div>
      <div class="tabs-3">
        <%= link_to "Manage Carriers", "/mycarriers/#{request.url.to_s.split("/edit").first.split("mycarriers/").last}/edit" %>
      </div>
  <% elsif params[:controller] == "mycarriers" and params[:action] == "show" %>
      <div class="tabs">
        <%= link_to "Carrier", "/mycarriers/show" %>
      </div>
      <div class="tabs-3">
        <%= link_to "Display Carriers", "/mycarriers/show" %>
      </div>
  <% elsif params[:controller] == "mycarriers" and params[:action] == "code_list" %>
      <div class="tabs">
        <%= link_to "Carrier", "/mycarriers/show" %>
      </div>
      <div class="tabs-3">
        <%= link_to "Master Code List", "/mycarriers/code_list" %>
      </div>

  <% elsif params[:controller] == "trunk_groups" and params[:action] == "index" %>
      <div class="tabs">
        <%= link_to "Trunk Groups", "/trunk_groups" %>
      </div>
      <div class="tabs-3">
        <%= link_to "DisplayTrunkGroups", "/trunk_groups" %>
      </div>

  <% elsif (params[:controller] == "trunk_groups" and params[:action] == "new") or (params[:controller] == "trunk_groups" and params[:action] == "create") %>
      <div class="tabs">
        <%= link_to "Trunk Groups", "/trunk_groups" %>
      </div>
      <div class="tabs-3">
        <%= link_to "NewTrunkGroup", "/trunk_groups/new" %>
      </div>
  <% elsif (params[:controller] == "trunk_groups" and params[:action] == "edit") or (params[:controller] == "trunk_groups" and params[:action] == "update") %>
      <div class="tabs">
        <%= link_to "Trunk Groups", "/trunk_groups" %>
      </div>
      <div class="tabs-3">
        <%= link_to "MangeTrunkGroup", "/trunk_groups/#{request.url.to_s.split("/edit").first.split("trunk_groups/").last}/edit" %>
      </div>
  <% elsif params[:controller] == "administrator" and params[:action] == "index" %>
      <div class="tabs">
        <%= link_to "Administrators", "/administrator" %>
      </div>

  <% elsif params[:controller] == "administrator" and params[:action] == "send_message" %>
      <div class="tabs">
        <%= link_to "Support", "/administrator/send_message" %>
      </div>
  <% elsif params[:controller] == "administrator" and params[:action] == "setting_page" %>
      <div class="tabs">
        <%= link_to "Settings", "/administrator/setting_page" %>
      </div>
  <% elsif params[:controller] == "routings" and params[:action] == "block_lists" %>
      <div class="tabs">
        <%= link_to "Routing", "javascript:void(0);" %>
      </div>
      <div class="tabs-3">
        <%= link_to "Block List", "/routings/block_lists" %>
      </div>
  <% elsif params[:controller] == "routings" and params[:action] == "mange_routing" %>
      <div class="tabs">
        <%= link_to "Routing", "javascript:void(0);" %>
      </div>
      <div class="tabs-3">
        <%= link_to "Mange Routing", "/routings/mange_routing" %>
      </div>
  <% elsif params[:controller] == "sales" and params[:action] == "originator_sheet" %>
      <div class="tabs">
        <%= link_to "Sales", "javascript:void(0);" %>
      </div>
      <div class="tabs-3">
        <%= link_to "Originator RateSheet", "/sales/originator_sheet" %>
      </div>
  <% elsif params[:controller] == "sales" and params[:action] == "terminator_sheet" %>
      <div class="tabs">
        <%= link_to "Sales", "javascript:void(0);" %>
      </div>
      <div class="tabs-3">
        <%= link_to "Terminator RateSheet", "/sales/terminator_sheet" %>
      </div>

  <% elsif params[:controller] == "accountings" and params[:action] == "generate_invoice" %>
      <div class="tabs">
        <%= link_to "Accounting", "javascript:void(0);" %>
      </div>
      <div class="tabs-3">
        <%= link_to "Generate Invoice", "/accountings/generate_invoice" %>
      </div>
  <% elsif params[:controller] == "accountings" and params[:action] == "record_payment" %>
      <div class="tabs">
        <%= link_to "Accounting", "javascript:void(0);" %>
      </div>
      <div class="tabs-3">
        <%= link_to "Record Payment", "/accountings/record_payment" %>
      </div>
  <% elsif params[:controller] == "accountings" and params[:action] == "financial_reports" %>
      <div class="tabs">
        <%= link_to "Accounting", "javascript:void(0);" %>
      </div>
      <div class="tabs-3">
        <%= link_to "Financial Reports", "/accountings/financial_reports" %>
      </div>
  <% elsif params[:controller] == "reportings" and params[:action] == "daily_originator_report" %>
      <div class="tabs">
        <%= link_to "Reporting", "javascript:void(0);" %>
      </div>
      <div class="tabs-3">
        <%= link_to "Originator Reports", "/reportings/daily_originator_report" %>
      </div>
  <% elsif params[:controller] == "reportings" and params[:action] == "daily_terminator_report" %>
      <div class="tabs">
        <%= link_to "Reporting", "javascript:void(0);" %>
      </div>
      <div class="tabs-3">
        <%= link_to "Terminator Reports", "/reportings/daily_terminator_report" %>
      </div>
  <% elsif params[:controller] == "reportings" and params[:action] == "search_cdr" %>
      <div class="tabs">
        <%= link_to "Reporting", "javascript:void(0);" %>
      </div>
      <div class="tabs-3">
        <%= link_to "Diagnostics", "/reportings/search_cdr" %>
      </div>
  <% elsif params[:controller] == "audit_logs" and params[:action] == "index" %>
      <div class="tabs">
        <%= link_to "Audit Logs", "/audit_logs" %>
      </div>
  <% end %>


</artical>
