<% [:alert, :notice, :error, :errormsg].select { |type| !flash[type].blank? }.each do |type| %>
    <div id="flash_notices">
      <div id="content" style="padding: 0 223px;">
        <% if flash[:notice] %>
            <div class="message success">
              <p>
                <%= flash[type] %>
              </p>
            </div>
        <% elsif flash[:error] %>
            <div class="message errormsg">
              <p>
                <% flash[:error].each_with_index do |error, index| %>
                    <%= error %> <br/>
                <% end %>
              </p>
            </div>
        <% elsif  flash[:alert] %>
            <div class="message warning">
              <p>
                <%= flash[type] %>
              </p>
            </div>
        <% elsif  flash[:errormsg] %>
            <div class="message errormsg">
              <p>
                <%= flash[type] %>
              </p>
            </div>
        <% end %>

      </div>
    </div>
<% end %>


