<script type='text/javascript' src='https://www.google.com/jsapi'></script>

<script type="text/javascript">
    google.load('visualization', '1', {packages:['gauge']});
    var button_timer = "";
</script>
<section id="sys-active-enable-ports">
  <div class="sys-time">
    <p>System Time</p>

    <div class="clock">
      <div id="Date"></div>
      <ul class="sys-time-detail">
        <li id="hours"></li>
        <li id="point">:</li>
        <li id="min"></li>
        <li id="point">:</li>
        <li id="sec"></li>
      </ul>
    </div>
  </div>
  <div id="timer"></div>
  <div class="small-seperator"></div>

  <div class="sys-time-2"><%= render :partial => "shared/active_ports" %></div>

  <div class="small-seperator"></div>

  <div class="sys-time-3">
    <div class="update-switch">
      <%= submit_tag "UPDATE SWITCH", :id => "u_switch" %>
    </div>
  </div>


</section>
<section id="switch" style="display: none;">
</section>

<footer>
  <p><%= "Copyright 2012. 46 Labs, LLC ~ VERSION "+APP_VERSION %></p>
</footer>


<script type="text/javascript">
    var d;
    $(document).ready(function () {
        // Create two variable with the names of the months and days in an array
        var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
        var dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

        // Create a newDate() object
        var newDate = new Date();
        // Extract the current date from Date object
        newDate.setDate(newDate.getUTCDate());
        // Output the day, date, month and year
        $('#Date').html(dayNames[newDate.getUTCDay()] + " " + newDate.getUTCDate() + ' ' + monthNames[newDate.getUTCMonth()] + ' ' + newDate.getFullYear());

        setInterval(function () {
            // Create a newDate() object and extract the seconds of the current time on the visitor's
            var seconds = new Date().getUTCSeconds();
            // Add a leading zero to seconds value
            $("#sec").html(( seconds < 10 ? "0" : "" ) + seconds);
        }, 1000);

        setInterval(function () {
            // Create a newDate() object and extract the minutes of the current time on the visitor's
            var minutes = new Date().getUTCMinutes();
            // Add a leading zero to the minutes value
            $("#min").html(( minutes < 10 ? "0" : "" ) + minutes);
        }, 1000);

        setInterval(function () {
            // Create a newDate() object and extract the hours of the current time on the visitor's
            var hours = new Date().getUTCHours();
            // Add a leading zero to the hours value
            $("#hours").html(( hours < 10 ? "0" : "" ) + hours);
        }, 1000);
        clearTimeout(button_timer);
        d = setInterval("refresh_active_ports()", 300000);
    });

    $("#u_switch").click(function (e) {
        apprise("Update Switch may only be selected once in a 5-minute period", {'confirm':true}, function (r) {
            if (r) {
                $('.shadow').show();
                $("#switch").show();
                $("#switch").load('/opensips/update_switch_status');
                setTimeout(clean_tables, 2000)
            }
        });

    });

    function clean_tables() {
        $.ajax({
            url:'/opensips/clean_tables',
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                if (data == "ok") {
                    $('#d1').removeClass("switch_running");
                    $('#d1').addClass("switch_complete");
                    $('#s1').html("Complete");
                    setTimeout(cache_trunks, 2000)
                }
                else if (data == "failed") {
                    $('#d1').removeClass("switch_running");
                    $('#d1').addClass("switch_failed");
                    $('#s1').html("Failed");
                    $('#dismiss_btn').show();
                    $('#s1').css("color", "#E51414");
                }
            }
        });
    }

    function cache_trunks() {
        $.ajax({
            url:'/opensips/build_trunks',
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                if (data == "ok") {
                    $('#d2').removeClass("switch_running");
                    $('#d2').addClass("switch_complete");
                    $('#s2').html("Complete");
                    setTimeout(build_routes, 2000)
                }
                else if (data == "failed") {
                    $('#d2').removeClass("switch_running");
                    $('#d2').addClass("switch_failed");
                    $('#s2').html("Failed");
                    $('#dismiss_btn').show();
                    $('#s2').css("color", "#E51414");
                }
            }
        });
    }

    function build_routes() {
        $.ajax({
            url:'/opensips/build_routes',
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                if (data == "ok") {
                    $('#d3').removeClass("switch_running");
                    $('#d3').addClass("switch_complete");
                    $('#s3').html("Complete");
                    setTimeout(create_blocklist, 1000)
                }
                else if (data == "failed") {
                    $('#d3').removeClass("switch_running");
                    $('#d3').addClass("switch_failed");
                    $('#s3').html("Failed");
                    $('#dismiss_btn').show();
                    $('#s3').css("color", "#E51414");
                }
            }
        });

    }

    function create_blocklist() {
        $.ajax({
            url:'/opensips/create_block_list',
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                if (data == "ok") {
                    $('#d4').removeClass("switch_running");
                    $('#d4').addClass("switch_complete");
                    $('#s4').html("Complete");
                    setTimeout(reload_tables, 1000)
                }
                else if (data == "failed") {
                    $('#d4').removeClass("switch_running");
                    $('#d4').addClass("switch_failed");
                    $('#s4').html("Failed");
                    $('#s4').css("color", "#E51414");
                    $('#dismiss_btn').show();
                }
            }
        });


    }

    function reload_tables() {
        $.ajax({
            url:'/opensips/reload_tables',
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                if (data == "ok") {
                    $('#d5').removeClass("switch_running");
                    $('#d5').addClass("switch_complete");
                    $('#s5').html("Complete");
                    $('#dismiss_btn').show();
                }
                else if (data == "failed") {
                    $('#d5').removeClass("switch_running");
                    $('#d5').addClass("switch_failed");
                    $('#s5').html("Failed");
                    $('#dismiss_btn').show();
                    $('#s5').css("color", "#E51414");
                }
            }
        });
    }

    function refresh_active_ports() {

        var container = $(".sys-time-2");
        $.ajax({
            url:'/dashboard/refresh_active_ports',
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                container.html(data);
            },
            error:function (data) {
                window.location.reload();
            }
        });

    }

</script>


