<script type="text/javascript">
    $(document).ready(function () {
        $('ul.sf-menu').superfish({
            delay:500, // one second delay on mouseout
            animation:{opacity:'show'}, // fade-in and slide-down animation
            speed:'fast', // faster animation speed
            autoArrows:false, // disable generation of arrow mark-up
            dropShadows:false                            // disable drop shadows
        });
    });

</script>
<div id="flash1">
  <%= render :partial => 'shared/flash', :object => flash %>
</div>
<header>
  <section>
    <div id="rightLinks">
      <div class="right">
        <div class="link"><a href="javascript:;"></a><span></span></div>
        <div class="link"><%= link_to @current_user.username.upcase, "javascript:;" unless @current_user.blank? %>
          <span>|</span></div>
        <div class="drop-link"><a href="/sign_out">Logout</a>
          <span></span></div>
      </div>
    </div>
    <figure><img src="/assets/pr_images/1.png"></figure>

    <artical id="right-search">
      <search id="search-input"/>
    </artical>
    <%= render :partial => "shared/bred_crumbs" %>
  </section>
</header>
<section>


</section>