<div class="leftContainer">

  <div class="demo">
    <div class="main-rect-container">
      <h1>Subscriber</h1>

      <div class="main-rect-detail">
        <p><%= current_user.subscriber.blank? ? current_user.email : current_user.subscriber %></p></div>

    </div>

    <div id="linkGuide" class="link-guide">
      <p><%= link_to 'Customer Portal' %> > <%= link_to "DashBoard" %>  </p>

    </div>
    <div id="accordionResizer" style="padding:10px; width:200px; height:400px;" class="ui-widget-content">

      <div id="accordion">
        <h3><a href="#">DashBoard</a></h3>

        <div>
          <p><%= link_to 'Main', "/dashboard" %></p>
        </div>
        <h3><a href="#">Carriers</a></h3>

        <div>
          <p><%= link_to 'Add Carriers', "/mycarriers/new" %></p>

          <p><%= link_to 'Display Carriers', "/mycarriers/show" %></p>

          <p><%= link_to 'Add Trunkgroup', "/trunk_groups/new" %></p>

          <p><%= link_to 'Display Trunkgroup', "/trunk_groups" %></p>

          <p><%= link_to 'Master CodeList', "/mycarriers/code_list" %></p>

        </div>
        <h3><a href="#">Sales</a></h3>

        <div>
          <p><%= link_to 'Originator Ratesheet', "/sales/originator_sheet" %></p>

          <p><%= link_to 'Terminator Ratesheet', "/sales/terminator_sheet" %></p>

        </div>

        <h3><a href="#">Routing</a></h3>

        <div>
          <p><%= link_to 'Blacklists', "/routings/black_lists" %></p>

          <p><%= link_to 'Manage Routing', "/routings/mange_routing" %></p>

        </div>
        <h3><a href="#">Accounting</a></h3>

        <div>
          <p><%= link_to 'Generate Invoice', "/accountings/generate_invoice" %></p>

          <p><%= link_to 'Record Payment', "/accountings/record_payment" %></p>

          <p><%= link_to 'Financial Reports', "/accountings/financial_reports" %></p>
        </div>
        <h3><a href="#">Reporting</a></h3>

        <div>
          <p><%= link_to 'Terminators', '/reportings/daily_terminator_report' %></p>

          <p><%= link_to 'Originators', '/reportings/daily_originator_report' %></p>

          <p><%= link_to 'Search CDR', '/reportings/search_cdr' %></p>
        </div>
        <h3><a href="#">Administration</a></h3>

        <div>
          <p><%= link_to 'Administrators', '/administrator' %></p>

          <p><%= link_to 'Audit Log', '/subscriber_audit_logs' %></p>

          <p><%= link_to 'Support', '/administrator/send_message' %></p>

          <p><%= link_to 'Settings', '/administrator/index' %></p>
        </div>
      </div>


      <span class="ui-icon ui-icon-grip-dotted-horizontal" style="margin:2px auto;"></span>
    </div>

  </div>

  <div class="time-rect-container">

    <%= render :partial => 'shared/time_portion' %>


  </div>
  <div class="active-port">
    <h1>Active Ports</h1>

    <div class="active-port-detail"><p>0</p></div>

  </div>

  <div class="enabled-port">
    <h1>Enabled Ports</h1>
    <% ports = 0 %>
    <div class="enabled-port-detail">
      <p><%= ports = current_user.ports_order unless current_user.ports_order.blank? %></p></div>

  </div>

  <div class="enabled-port">
    <h1>Update Settings</h1>

    <div class="enabled-port-detail">
      <%= link_to "Update Switch", '/opensips/update_switch', :id => "enable1_btn", :class => "switch-action-btn" %>
    </div>

  </div>


</div>


<script type="text/javascript">
    var dashboard = "hello"
    //    $(document).ready(
    //            function () {
    //                setInterval(function () {
    //                    $('.time-rect-container').load('/dashboard/give_time');
    //                }, 1000);
    //            });
    $(function () {
        $("#accordion").accordion({
            fillSpace:true
        });
    });
    $(function () {
        $("#accordionResizer").resizable({
            minHeight:140,
            resize:function () {
                $("#accordion").accordion("resize");
            }
        });
    });

</script>
