<div style="width: 930px; overflow-x: hidden;overflow-y: auto; height: 170px;margin-left: 5px; float: left;">
  <% unless @results.blank? %>
      <% @results.each_with_index do |row, index| %>
          <% if index % 2 == 0 %>
              <div class="CDR-grey-table">
                <div class="cdr-time-detail"><%= row["time"].strftime("%Y-%m-%d %H:%M:%S") %></div>
                <div class="cdr-from-detail"><%= row["from_did"] %></div>
                <div class="cdr-to-detail"><%= row["to_did"] %></div>
                <div class="cdr-lrn-detail"><%= row["lrn_did"] %></div>
                <div class="cdr-term_carrier-detail"><%= row["orig_carrier_name"] %></div>
                <div class="cdr-orig_carrier-detail"><%= row["term_carrier_name"] %></div>
                <div class="cdr-term_rate-detail"><%= row["term_rate"] %></div>
                <div class="cdr-term_value-detail"><%= row["term_value"] %></div>
                <div class="cdr-minutes-detail"><%= row["minutes"] %></div>
                <div class="cdr-sip-detail"><%= row["sip_result"] %></div>
                <div class="cdr-src-detail"><%= link_to "Trace", "javascript:void(0);", :onclick => "trace_call('#{row["callid"]}','#{row["time"].strftime("%Y%m%d")}');", :style => "margin-left: 5px;text-decoration:underline;color:#FF8080;font-size:12px;`" %></div>
              </div>
          <% else %>
              <div class="CDR-light-grey-table">
                <div class="cdr-time-detail"><%= row["time"].strftime("%Y-%m-%d %H:%M:%S") %></div>
                <div class="cdr-from-detail"><%= row["from_did"] %></div>
                <div class="cdr-to-detail"><%= row["to_did"] %></div>
                <div class="cdr-lrn-detail"><%= row["lrn_did"] %></div>
                <div class="cdr-term_carrier-detail"><%= row["orig_carrier_name"] %></div>
                <div class="cdr-orig_carrier-detail"><%= row["term_carrier_name"] %></div>
                <div class="cdr-term_rate-detail"><%= row["term_rate"] %></div>
                <div class="cdr-term_value-detail"><%= row["term_value"] %></div>
                <div class="cdr-minutes-detail"><%= row["minutes"] %></div>
                <div class="cdr-sip-detail"><%= row["sip_result"] %></div>
                <div class="cdr-src-detail"><%= link_to "Trace", "javascript:void(0);", :onclick => "trace_call('#{row["callid"]}','#{row["time"].strftime("%Y%m%d")}');", :style => "margin-left: 5px;text-decoration:underline;color:#FF8080;font-size:12px;" %></div>
              </div>
          <% end %>
      <% end %>
  <% end %>
</div>