<div id="blanket" style="display:none;"></div>
<div id="popUpDiv" style="display:none;">
</div>

<section>
  <section id="search-cdrs">

    <div class="cdr-inner-contents">
      <div class="search_cdr_head">
        <p>Search CDR</p>
      </div>
      <%#= select_tag("carriers", options_for_select(@carrier.map { |carrier| [carrier.carrier_name + " - " + carrier.subscriber, carrier.id.to_s + "_" + carrier.subscriber] }), :prompt => "Select Carrier", :style => "width: 180px; margin-left: 2px; height: 37px;padding-top: 7px;text-align: center; margin-top: 36px;") %>
      <select name="direction_order" id="direction_order" style="width: 180px; margin-left: 2px; height: 37px;padding-top: 7px;text-align: center; margin-top: 36px;">
        <option value="">Direction Type</option>
        <option value="originating">Originating</option>
        <option value="terminating">Terminating</option>
      </select>

      <div class="cdr-date-range">
        <p>Date Range</p>
        <section id="content" style="width: 200px !important;height: 260px ">
          <%= form_for(:cdr, :url => { :controller => "reportings", :action => "export_cdr" }, :html => { :id => 'cdr_export_form' }) do |f| %>
              <% unless @errors.blank? %>
                  <div id="error_explanation">
                    <ul>
                      <% @errors.each do |msg| %>
                          <%= msg %>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
              <div style="float:left">
                <div class="New_date_piker">
                  <%= text_field_tag "from_date", "", :id => "from_date", :class => "text", :placeholder => "From" %>
                </div>
                <div class="New_date_piker">
                  <%= text_field_tag "to_date", "", :id => "to_date", :class => "text", :placeholder => "To" %>
                </div>
                <div class="selection-expression"><%= text_field_tag "expression", nil, :placeholder => 'Expression', :id => "expression" %></div>
              </div>
              <%= hidden_field_tag 'date_from', :id => 'date_from' %>
              <%= hidden_field_tag 'date_to', :id => 'date_to' %>
              <%= hidden_field_tag 'selected_id', @carrier.carrier_id, :id => 'selected_id' %>
              <%= hidden_field_tag 'carrier_name', @carrier.carrier_name, :id => 'carrier_name' %>
              <%= hidden_field_tag 'subscriber', @carrier.subscriber, :id => 'selected_id' %>
              <%= hidden_field_tag 'carrier_type', :id => 'carrier_type' %>
              <%= hidden_field_tag 'search_expression', :id => 'search_expression' %>
              <%= hidden_field_tag 'direction', :id => 'direction' %>
              <div id="cdr_carriers" class="payment-btnn">
                <%= submit_tag "EXPORT CDR", :id => "export_cdr_btn" %>
              </div>
          <% end %>
        </section>
      </div>
    </div>

  </section>

</section>

<script type="text/javascript">
    $(".datepicker").datepicker({dateFormat:'yy-mm-dd'});
    $(document).ready(function () {
        $('#from_date').datetimepicker({
            showSecond:false,
            showHour:false,
            showMinute:false,
            timeFormat:'hh:mm:ss',
            stepHour:1,
            stepMinute:1,
            stepSecond:1,
            showOn:"button",
            buttonImage:"/assets/cal.jpg",
            buttonImageOnly:true,
            dateFormat:'yy-mm-dd'
        });
        $('#to_date').datetimepicker({
            showSecond:false,
            showHour:false,
            showMinute:false,
            timeFormat:'hh:mm:ss',
            stepHour:1,
            stepMinute:1,
            stepSecond:1,
            showOn:"button",
            buttonImage:"/assets/cal.jpg",
            buttonImageOnly:true,
            dateFormat:'yy-mm-dd'
        });
    });

    $("#cdr_export_form").validate({
        rules:{
            "from_date":{
                required:true
            },

            "to_date":{
                required:true
            },
            "expression":{
                digits:true
            },
            "message":{
                required:true
            },
            messages:{
                "from_date":"This field is required",
                "to_date":"This field is required"
            }
        }
    });


    $("#export_cdr_btn").click(function () {
        if (!jQuery("#cdr_export_form").valid()) {
            return false;
        }
        $('#date_from').val($('#from_date').val());
        $('#date_to').val($('#to_date').val());
        $('#carrier_type').val(3);
        $('#search_expression').val($("#expression").val());
        $('#search_expression').val($("#expression").val());
        $('#direction').val($("#direction_order").val());
        if ($("#direction_order").val() == "") {
            apprise("Please select CDR direction");
            return false;
        }
    });

</script>
