<head>
  <%= csrf_meta_tags %>
</head>
<body>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div id="wrapper">
      <div id="flash1" class="flash1">
        <%= render :partial => 'shared/flash_user', :object => flash %>
      </div>
      <div class="login-screen">
        <div class="login-logo"><img src="/assets/pr_images/2.png"></div>
        <div class="login-text"><p>PeerEdge Subscriber Login</p></div>
        <div class="login-input-fields">
          <div class="login-input">
            <%= f.text_field :username, :placeholder => "User Name" %>
          </div>
          <!--login-input ends-->
          <div class="login-input" style="margin-top:28px;">
            <%= f.password_field :password, :placeholder => "Password" %>
          </div>
          <!--login-input ends-->
          <div class="forgot_your_pass">
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
                <%= link_to "Forgot your password?", new_password_path(resource_name) %>

            <% end -%>
          </div>
          <div class="login-btn"><%= f.submit "Login" %></div>


        </div>
        <div class="version">

        </div>
        <span id="siteseal" class="seal-style"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=a0NM9DfzuJxnKDjfxHp6Rytlg5FWYtxE595ESxOZZMP1zezpMeHC49Bc"></script></span>

      </div>

    </div>


<% end -%>

</body>