<script type="text/javascript">
    $(document).ready(function () {
        $('ul.sf-menu').superfish({
            delay:500, // one second delay on mouseout
            animation:{opacity:'show'}, // fade-in and slide-down animation
            speed:'fast', // faster animation speed
            autoArrows:false, // disable generation of arrow mark-up
            dropShadows:false                            // disable drop shadows
        });
    });

</script>
<div id="flash1">
  <%= render :partial => 'shared/flash', :object => flash %>
</div>
<header>
  <section>
    <div id="rightLinks">
      <div class="right">
        <div class="drop-link"><a href="/sign_out">Logout</a>
          <span></span></div>

        <div class="link"><a href="javascript:;"></a><span></span></div>
        <div class="link"><%= link_to @current_user.user_name.upcase, "javascript:;" unless @current_user.blank? %>
          <span>|</span></div>
      </div>
    </div>
    <figure><img src="/assets/pr_images/1.png"></figure>

    <artical id="right-search">
      <search id="search-input"/>
    </artical>
    <%= render :partial => "shared/bred_crumbs" %>
  </section>
</header>
<section>

  <section id="big-tabs">

    <ul class="sf-menu">
      <li>
        <a href="/dashboard" class="<%= "current" if params[:controller] == "dashboard" %>">Dashboard</a>
      </li>
      <li>
        <a href="javascript:void(0);" class="<%= "current" if params[:controller] == "carriers" %>">Carriers</a>
        <ul>
          <li>
            <a href="/mycarriers/new">Add Carrier</a>
          </li>

          <li>
            <a href="/mycarriers/show">Display Carrier</a>
          </li>
          <li>
            <a href="/trunk_groups/new">Add Trunk Group</a>
          </li>
          <li>
            <a href="/trunk_groups">Display Trunk Group</a>
          </li>
          <li>
            <a href="/mycarriers/code_list">Master Codelist</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="javascript:;" class="<%= "current" if params[:controller] == "routings" %>">Routing</a>
        <ul>
          <li>
            <a href="/routings/block_lists">Blocklist</a>
          </li>

          <li>
            <a href="/routings/mange_routing">Manage Routing</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="<%= "current" if params[:controller] == "sales" %>">Sales</a>
        <ul>
          <li>
            <a href="/sales/originator_sheet">Originator Ratesheet</a>
          </li>

          <li>
            <a href="/sales/terminator_sheet">Terminator Ratesheet</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="<%= "current" if params[:controller] == "accountings" %>">Accounting</a>
        <ul>
          <li>
            <a href="/accountings/generate_invoice">Generate Invoice</a>
          </li>

          <li>
            <a href="/accountings/record_payment">Record Payment</a>
          </li>

          <li>
            <a href="/accountings/financial_reports">Financial Reports</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="<%= "current" if params[:controller] == "reportings" %>">Reporting</a>
        <ul>
          <!--<li>-->
            <!--<a href="/reportings/daily_terminator_report">Terminators</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="/reportings/daily_originator_report">Originators</a>-->
          <!--</li>-->
          <li>
            <a href="/reportings/search_cdr">Diagnostics</a>
          </li>
          <li>
            <a href="/reportings/carriers_report">Carriers</a>
          </li>
          <li>
            <a href="/reportings/country_report">Countries</a>
          </li>
          <li>
            <a href="/reportings/route_plan_report">Route Plan</a>
          </li>
          <li>
            <a href="/reportings/durations_report">Durations</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="javascript:;" class="<%= "current" if params[:controller] == "administrator" %>">Admin</a>
        <ul>
          <li>
            <a href="/administrator">Administrators</a>
          </li>
          <li>
            <a href="/administrator/send_message">Support</a>
          </li>
          <li>
            <a href="/audit_logs">Audit Log</a>
          </li>
          <li>
            <a href="/administrator/setting_page">Invoice Settings</a>
          </li>
          <li>
            <a href="/administrator/payment_page">Payment</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</section>