<!DOCTYPE html>
<html>
<head>
  <title>Subscriber Portal</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="icon"
        type="image/ico"
        href="/assets/pr_images/favicon.ico"/>
</head>

<body>

<div id="wrapper">
  <% unless @current_user.blank? %>
      <div id="app_header">
        <%= render :partial => '/shared/header' %>
      </div>
  <% end %>

  <div id="main_container">
    <div class="shadow" style="display: none !important;"></div>
    <div id="ajax_loader" class="ajax_loader" style="display: none !important;"><%= image_tag("/assets/pr_images/ajax_loader.gif", :width => 100) %></div>
    <%= yield %>
  </div>


</div>
</body>
</html>

